/* --- opacity on hover */
[data-hover="opacity"] {
  transition: opacity 0.2s ease-out;
}

[data-hover="opacity"]:hover {
  opacity: 0.5;
}

/* inital states */
[data-module="alpha"] {
  visibility: hidden;
}

[data-module="text"] {
  visibility: hidden;
}

@media (prefers-reduced-motion: reduce) {
  [data-module="alpha"],
  [data-module="text"],
  [data-module="text"] > span,
  [data-module="logo"] svg g {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
